@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Open+Sans:wght@300;400&display=swap');
</style>

.foto{

width:90vh ;
    border: solid red;
    height: 50vh;
}
p{

font-size: 20px;
    font-family: ont-family: 'Lato', sans-serif;;
}